#!/bin/bash

curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v1.21.8+k3s1 sh -s - server \
  --token ${token} \
  --cluster-init \
  --kubelet-arg=provider-id="aws:///$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)/$(curl -s http://169.254.169.254/latest/meta-data/instance-id)"

# Wait for k3s.yaml to appear
while ! [ -e /etc/rancher/k3s/k3s.yaml ]
do 
  sleep 3
done






